* {
  box-sizing: border-box;
  background-color: #fbf1c8;
  font-family: "Fira Code", monospace;
  /* font-optical-sizing: auto; */
  font-style: normal;
}
  /* font-weight: <weight>; */
body {
  height: 100%;
}