* {
  box-sizing: border-box;
  background-color: #fbf1c8;
  font-family: "Fira Code", monospace;
  /* font-optical-sizing: auto; */
  font-style: normal;
}

body {
  height: 100%;
}

/* removing all preset styles from textarea */
textarea {
  border: none;
  overflow: auto;
  background-color: transparent;
  resize: none;
  outline: none;
}